body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: gray;
  padding: 2rem 2rem;
}

.caja {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 7.5rem;
  right: 0;
}
nav li {
  display: inline;
  margin-left: 1rem;
}

nav a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: yellow;
  text-decoration: underline;
  transition: .5s ease;
}
.productos {
  width: 940px;
  margin: 0 auto;
  padding: 5%;
}
.productos li {
  border-radius: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 1.5%;
  padding: 30px 20px;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.productos li:hover {
  border-color: yellow;
  font-size: 2.5rem;
}

.productos li:active {
  border-color: green;
}
.productos h2 {
  font-size: 2rem;
  text-transform: bold;
}

.productos li:hover h2 {
  font-size: 2.2rem;
}

.producto-descripcion {
  font-size: 1.2rem;
}

.producto-precio {
  padding-top: 5%;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  text-align: center;
  background: url(imagenes/bg.jpg);
  padding: 1.5rem;
}

.copyright {
  color: white;
  font-size: 1rem;
  margin: 2rem;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 2rem 3rem;
}

form label, form legend {
  display: block;
  font-size: 1.5rem;
  margin:  0 0 1rem;
}

.input-padron {
  border-radius: 7px;
  display: block;
  font-size: 1.5rem;
  margin:  0 0 1.5rem;
  padding: .5rem;
  width: 50%;
}

.checkbox {
  margin: 1.5rem 0;
}

.enviar {
  width: 50%;
  padding: 1rem 0;
  font-size: 1rem;
  border-radius: 7px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
}

.enviar:hover {
  transform: scale(1.1);
  background: darkorange;
  transition: .5s ease;
}

table {
  margin: 5rem 5rem;
}

thead {
  background: gray;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid black;
  padding: 1rem .5rem;
}

/* CSS PAGINA HOME */

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 1rem;
  clear: left;
}

.principal p {
  margin: 0 0 1rem;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 2rem 2rem 0;
}

.imagenDiferenciales {
  width: 60%;
}

